<div class="container">
    <ul class="card-deck mb-3 text-center">
        <li *ngFor="let bookableData of bookableDataList" class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ bookableData.hotel.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ bookableData.hotel.charge }}<small class="text-muted">円/1泊</small></h1>
                <h3 class="card-title pricing-card-title"><small class="text-muted">残り</small>
                  {{ bookableData.room_count }}<small class="text-muted">部屋</small></h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>&nbsp;{{ bookableData.hotel.option1 }}</li>
                    <li>&nbsp;{{ bookableData.hotel.option2 }}</li>
                    <li>&nbsp;{{ bookableData.hotel.option3 }}</li>
                </ul>
                <button type="button"  (click)="onPostBookingData(bookableData)" class="btn btn-lg btn-block btn-primary">予約する!</button>
            </div>
        </li>
      </ul>
</div>
