
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Angular-front-booking on Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css" rel="stylesheet">
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal text-white "><a routerLink="/booking">Booking.niko</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <span *ngIf="isAuthenticated" class="p-2 text-white font-weight-normal">ログイン:<b>{{ user.username }}</b>さん</span>
        <a routerLink="/confirmation" class="p-2 text-white" >予約確認</a>
        <a class="p-2 text-white" >履歴</a>
        <a class="p-2 text-white" >アカウント</a>
        <a *ngIf="isAuthenticated" href="" class="p-2 text-white" (click)="onLogout()">ログアウト</a>
    </nav>
    <a *ngIf="!isAuthenticated" routerLink="/signin" class="btn btn-primary" >Sign in</a>
</div>

<div class="container">
    <div class="center-block">
      <router-outlet></router-outlet>
    </div>
</div>

<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>お知らせ</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">サービス会社</a></li>
                    <li><a class="text-muted" href="#">個人情報の取扱について</a></li>
                    <li><a class="text-muted" href="#">キャンセルについて</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>お支払い方法</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">クレジットカード</a></li>
                    <li><a class="text-muted" href="#">ビットコイン</a></li>
                    <li><a class="text-muted" href="#">電子マネー</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>お問い合わせ先</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">電話</a></li>
                    <li><a class="text-muted" href="#">メール</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
<script>/** JS：Area */
</script><style>/** CSS：Area */
</style></body>
</html>













