<div *ngIf="bsAlertParams.isMessageShow" class="row">
  <div class="col col-xs-12 mx-auto text-center">
    <div class="alert"  [ngClass]="(bsAlertParams.isSuccess == true) ? 'alert-success':'alert-danger'" role="alert">
      <strong>{{ bsAlertParams.status }}</strong> {{ bsAlertParams.message }}
    </div>
  </div>
</div>

<div class="container">
  <ul class="card-deck mb-3 text-center">
      <li *ngFor="let bookingData of bookingDataList" class="card mb-4 box-shadow">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ bookingData.hotel.name }}</h4>
          </div>
          <div class="card-body">
              <h1 class="card-title pricing-card-title">{{ bookingData.hotel.charge }}<small class="text-muted">円/1泊</small></h1>
              <h3 class="card-title pricing-card-title">{{ bookingData.inDate }}
                    <small class="text-muted">〜</small>{{ bookingData.outDate }}</h3>
              <ul class="list-unstyled mt-3 mb-4">
                  <li>&nbsp;{{ bookingData.hotel.option1 }}</li>
                  <li>&nbsp;{{ bookingData.hotel.option2 }}</li>
                  <li>&nbsp;{{ bookingData.hotel.option3 }}</li>
              </ul>
            <!-- <button type="button"  (click)="onPostBookingData(bookingData)" class="btn btn-lg btn-block btn-primary">キャンセルする!</button> -->
          </div>
      </li>
    </ul>
</div>
